<?xml version="1.0" encoding="utf-8" ?>
<settings debug_mode="True">
    <size width="800" height="600"/>
    <caption title="Cerium Benchmark"/>
	
	<music volume="100"/>
	<sounds volume="100"/>
	
    <ui>
        <normalText r="0" g="0" b="0" a="255"/>
        <hoveredText r="255" g="255" b="255" a="255"/>

        <normalBackground r="255" g="255" b="255" a="255"/>
        <hoveredBackground r="0" g="0" b="0" a="255"/>
    </ui>
</settings>