

* {
    padding: 0px;
    margin: 0px;
}
#wrapper {
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
}
a {
    color: inherit;
}
.code {
    background-color:lightblue;
}

    